<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="desc" content="Ariel Behar Web Developer Online Portfolio">
	<meta name="keywords"
		content="ariel, behar, ariel behar, web developer, web design, developer, design, website desing, web development, web portfolio, web design portfolio">
	<meta name="author" content="Ariel Behar">

	<link rel="apple-touch-icon" sizes="57x57" href="img/downloaded/logo/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="img/downloaded/logo/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/downloaded/logo/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="img/downloaded/logo/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/downloaded/logo/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="img/downloaded/logo/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/downloaded/logo/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="img/downloaded/logo/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="img/downloaded/logo/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="img/downloaded/logo/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/downloaded/logo/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="img/downloaded/logo/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/downloaded/logo/favicon/favicon-16x16.png">
	<link rel="manifest" href="img/downloaded/logo/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="img/downloaded/logo/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<title>Ariel Behar | Web Developer</title>
	<!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.js"></script>
    <![endif]-->

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<!-- Material Design Bootstrap -->
	<link href="css/mdb.min.css" rel="stylesheet">
	<!-- Loader css -->
	<link href="css/loader.css" rel="stylesheet">
	<!-- Custom css -->
	<link href="css/style.css" rel="stylesheet">
</head>

<body>
	<!-- LOADER -->
	<div id="loader-overlay">
		<div class="hexagon-loader">
			<div class="row">
				<div class="arrow up outer outer-18"></div>
				<div class="arrow down outer outer-17"></div>
				<div class="arrow up outer outer-16"></div>
				<div class="arrow down outer outer-15"></div>
				<div class="arrow up outer outer-14"></div>
			</div>
			<!-- row -->
			<div class="row">
				<div class="arrow up outer outer-1"></div>
				<div class="arrow down outer outer-2"></div>
				<div class="arrow up inner inner-6"></div>
				<div class="arrow down inner inner-5"></div>
				<div class="arrow up inner inner-4"></div>
				<div class="arrow down outer outer-13"></div>
				<div class="arrow up outer outer-12"></div>
			</div>
			<!-- row -->
			<div class="row">
				<div class="arrow down outer outer-3"></div>
				<div class="arrow up outer outer-4"></div>
				<div class="arrow down inner inner-1"></div>
				<div class="arrow up inner inner-2"></div>
				<div class="arrow down inner inner-3"></div>
				<div class="arrow up outer outer-11"></div>
				<div class="arrow down outer outer-10"></div>
			</div>
			<!-- row -->
			<div class="row">
				<div class="arrow down outer outer-5"></div>
				<div class="arrow up outer outer-6"></div>
				<div class="arrow down outer outer-7"></div>
				<div class="arrow up outer outer-8"></div>
				<div class="arrow down outer outer-9"></div>
			</div>
			<!-- row -->
		</div>
		<!-- hexagon-loader -->
	</div>
	<!-- loader-overlay -->
	<!--/ LOADER -->

	<!-- FLY IN WELCOME TEXT -->
	<div class="wrapper mx-auto">
		<div class="view hm-white-strong">
			<video class="background-video hidden-sm-down" poster="img/downloaded/ink.png" loop muted="true"
				autoplay="true">
				<source src="video/ink.mp4" type="video/mp4">
				<source src="video/ink.webm" type="video/webm">
				<source src="video/ink.ogv" type="video/ogv">
			</video>
			<img src="img/downloaded/ink2.png" alt="Ink Poster" class="hidden-md-up" id="ink-poster">
			<div class="mask flex-center">
				<ul class="fly-in-text hidden">
					<li>W</li>
					<li>E</li>
					<li>L</li>
					<li>C</li>
					<li>O</li>
					<li>M</li>
					<li>E</li>
					<li>
						<i>TO</i>
					</li>
				</ul>
				<div class="flex-column pt-5">
					<div class="row">
						<div class="col-12">
							<img src="img/downloaded/logo/logo-light.png" alt="Logo" class="img-fluid mx-auto"
								id="front-logo">
							<h1 class="text-center h1-responsive" id="design-heading">ARIEL BEHAR WEB DESIGN</h1>
						</div>
					</div>
					<!-- row -->
					<div class="row mt-2">
						<div class="col-12 text-center">
							<a class="btn btn-lg primary-color-dark" id="go-to-site-btn">EXPLORE SITE</a>
						</div>
					</div>
					<!-- row -->
				</div>
				<!-- flex-column -->
			</div>
			<!-- mask -->
		</div>
		<!-- view -->
	</div>
	<!-- wrapper -->
	<!--/ FLY IN WELCOME TEXT -->



	<main class="main-hidden">

		<!-- SCROLLSPY -->
		{{>nav}}
		<!-- dotted-scrollspy -->

		<!-- Title Section -->
		<div class="container-fluid z-depth-3" id="title-section">
			<div class="row flex-center flex-column">
				<div class="col-md-12 d-flex align-self-center">
					<div class="flex-center flex-column mx-auto d-flex align-self-center" id="title-section-titles">
						<h1 class="h1-responsive text-center">ARIEL BEHAR WEB DESIGN </h1>
						<h2 class="h2-responsive text-center"> Design Done Differently</h2>
					</div>
					<!-- flex-center -->
				</div>
				<!-- col -->
			</div>
			<!-- row -->
		</div>
		<!-- container-fluid -->

		<!-- First Section -->
		<div class="container-fluid text-white" id="first-section">
			<div class="container py-2 pt-3">
				<div class="row">
					<div class="col-md-8 flex-column">
						<h3>About Me</h3>
						<p>Aspiring full-stack web developer. Multilingual and self-taught in a variety of web
							technologies and programming languages. Passionate about both front and back
							end-development. Highly reliable and self-propelled to success and professionalism with a
							constant hunger for knowledge and improvement.</p>
						<div class="row pt-1 mb-0" id="languages">
							<div class="col-12">
								<h3 class="d-inline-block">Languages</h3>
								<p class="text-muted d-inline-block">&nbsp;&nbsp;*Speaking / Writing / Reading /
									Understanding rated from 1 to 5 (5 being the highest)</p>
							</div>
							<!--Languages generated in main.js -->
						</div>
						<!-- row -->
					</div>
					<!-- col -->
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</div>
		<!-- container-fluid -->
		<!-- /First Section -->

		<!-- Second Section -->
		<div class="container-fluid py-3 px-0 px-sm-1 text-white z-depth-3" id="second-section">
			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<h3 class="display-4 mb-1">My Projects</h3>
					</div>
					<!-- col -->
				</div>
				<!-- row -->
				<div class="row">
					<div class="col-lg-8 col-12">
						<!--Carousel Wrapper-->
						<div id="carousel-thumb" class="carousel slide carousel-thumbnails" data-ride=""
							data-interval="false">
							<!--Slides-->
							<div class="carousel-inner" role="listbox">
								<div class="carousel-item active">
									<img class="img-fluid d-block mx-auto" src="img/downloaded/slides/site-plan.jpg"
										alt="Intro Slide">
								</div>

								<!-- SLIDES for each project are generated here by main.js -->

							</div>
							<!--/.Slides-->

							<!-- 4 thumbnails slide Carousel -->
							<!--Carousel Wrapper-->
							<div id="thumbnails-carousel-4-thumbs" class="carousel slide carousel-multi-item"
								data-ride="carousel" data-interval="false">
								<!--Thumbnails-->

								<!-- Thumbnails for each project are generated here from main.js -->

								<!--/.Thumbnails-->
								<!--Controls-->
								<div class="controls-top">
									<a class="btn-floating" href="#thumbnails-carousel-4-thumbs" data-slide="prev">
										<i class="fa fa-chevron-left"></i>
									</a>
									<a class="btn-floating" href="#thumbnails-carousel-4-thumbs" data-slide="next">
										<i class="fa fa-chevron-right"></i>
									</a>
								</div>
								<!--/.Controls-->
							</div>
							<!--/.Carousel Wrapper-->
							<!-- /4 thumbnails slide Carousel -->
						</div>
						<!--/.Carousel Wrapper-->
					</div>
					<!--/ carousel col -->
					<!-- Jumbotron #project content -->
					<div class="col-lg-4 col-12 pt-2">
						<div class="jumbotron text-success text-center flex-center" id="project-content">
							<h4 class="display-5 animated pulse infinite">Click on Thumbnails to See Information About
								Each Project</h4>
						</div>
						<!-- jumbotron -->
					</div>
					<!-- col -->
					<!--/ Jumbotron #project content -->
				</div>
				<!--/ row -->
			</div>
			<!--/ container second section-->

			<div class="container py-3 mt-2" id="psd-to-html-section">
				<div class="row">
					<div class="col-md-6 pt-1">
						<h4 class="mb-1 text-center small-section-heading">PSD TO HTML</h4>
						<div class="row">
							<div class="col-10 offset-1">
								<p class="text-justify">This section focuses on my ability to work with Adobe Photoshop
									and accurately recreate websites from a PSD file into HTML format. </p>
								<video class="embed-responsive embed-responsive-16by9 z-depth-3 mb-3 hidden-sm-down"
									poster="img/downloaded/icons/psd-to-html5.png" loop muted="true" autoplay="true"
									id="psd-to-html-video">
									<source class="embed-responsive-item" src="video/design.mp4" type="video/mp4">
									<source class="embed-responsive-item" src="video/design.webm" type="video/webm">
									<source class="embed-responsive-item" src="video/design.ogv" type="video/ogv">
								</video>
								<img src="img/downloaded/tv.png" alt="Television"
									class="img-fluid hidden-sm-down z-depth-3" id="tv-pic">
								<img src="img/downloaded/icons/psd-to-html5.png" alt="PSD TO HTML Poster"
									class="hidden-md-up img-fluid mb-3 mt-2">
								<p class="tv-buttons text-right hidden-sm-down"><span id="on-button"
										class="text-success">ON </span>|<span id="off-button"> OFF</span></p>
							</div>
						</div>

					</div>
					<div class="col-md-6">
						<div id="carousel-psd" class="carousel slide z-depth-3" data-ride="carousel">
							<ol class="carousel-indicators" id="psd-carousel-indicators">
								<!-- Carousel indicators generated in main.js -->
							</ol>
							<div class="carousel-inner" role="listbox" id="psd-carousel-inner">
								<!-- PSD to HTML projects generated in main.js -->

							</div>


							<a class="carousel-control-prev" href="#carousel-psd" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon animated pulse infinite"
									aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#carousel-psd" role="button" data-slide="next">
								<span class="carousel-control-next-icon animated pulse infinite"
									aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>
				</div>
			</div>

			<!--Modals-->
			<div id="modals">
				<!--Modals are generated when clicking on a project in main.js-->
			</div>

			<div class="container py-3 text-center text-white" id="third-section">
				<div class="row">
					<div class="col-5 col-md-1 mt-2 mt-sm-0 pb-1">
						<ul class="text-center">
							<li class="grey-text px-0 mb-1 text-center hidden-md-down">
								<u>HOVER</u>
								<i class="fa fa-arrow-down grey-text"></i>
							</li>
							<li class="grey-text px-0 mb-1 text-center hidden-lg-up">
								<u>TAP</u>
								<i class="fa fa-arrow-down grey-text"></i>
							</li>
							<span id="proficient" class="mb-1">
								<li>PROFICIENT</li>
								<li>
									<i class="fa fa-circle fa-2x green-text"></i>
								</li>
							</span>
							<span id="competent" class="mb-1">
								<li>COMPETENT</li>
								<li>
									<i class="fa fa-circle fa-2x yellow-text"></i>
								</li>
							</span>
							<span id="novice" class="mb-1">
								<li>NOVICE</li>
								<li>
									<i class="fa fa-circle fa-2x indigo-text"></i>
								</li>
							</span>
						</ul>
					</div>
					<!-- col -->
					<div class="col-md-8 text-center pl-sm-5 pl-md-5 flex-first flex-md-unordered">
						<h3 class="display-4 mb-1">My Abilities</h3>
						<div id="abilities">
							<!-- Abilities generated in main.js -->
						</div>

						<p class="text-muted text-center">*In constant learning of new skills and improvement on already
							existing ones</p>
					</div>
					<!--/ col -->

					<div class="col-7 col-md-3 mt-2 mt-sm-0 pr-0">
						<h5 class="mb-2" style="font-size: 25px">Currently Learning</h4>
							<img src="img/downloaded/icons/node-express-mongodb.png" alt="PHP Logo"
								class="img-fluid mx-auto z-depth-5" id="currently-learning-pic">
					</div>
					<!--/ col -->
				</div>
				<!--/row -->
			</div>
			<!--/container third section -->
		</div>
		<!-- container fluid -->

		<!-- Fourth Section -->
		<div class="container-fluid" id="fourth-section">

			<div class="container py-2 text-white">
				<h3 class="display-4 mb-1">Some Reading Material</h3>
				<div class="row">
					<div
						class="col-10 offset-1 offset-sm-0 col-sm-4 text-center my-1 py-2 bg-success rounded z-depth-2">
						<h3 class="text-white"> Résumé</h3>
						<!-- Image trigger modal -->
						<a href="" data-toggle="modal" data-target="#resume-modal">
							<img src="img/downloaded/resume-onepage.jpg" alt="Resume" class="img-fluid doc-img">
						</a>
						<!-- Modal -->
						<div class="modal fade" id="resume-modal" tabindex="-1" role="dialog"
							aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg" role="document">
								<!--Content-->
								<div class="modal-content">
									<!--Header-->
									<div class="modal-header">
										<h4 class="modal-title w-100 text-white" id="myModalLabel">Résumé</h4>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true" class="grey-text">&times;</span>
										</button>
									</div>
									<!-- /modal-header -->
									<!--Body-->
									<div class="modal-body p-0">
										<img src="img/downloaded/resume-onepage.jpg" class="img-fluid" alt="Resume"
											height="100%" width="100%">
										<h4 class="text-center my-2">Download My Résumé</h4>
										<div class="row mb-2">
											<!-- <div class="col-6 col-md-3 offset-md-3  text-center">
												<a href="content/resume.docx" target="_blank"><img src="img/downloaded/icons/word.png"></a>
											</div> -->
											<div class="col-12 col-md-12 text-center">
												<a href="content/resume.pdf" target="_blank">
													<img src="img/downloaded/icons/pdf.png">
												</a>
											</div>
										</div>
									</div>
									<!-- /modal-body -->
									<!--Footer-->
									<div class="modal-footer">
										<button type="button" class="btn btn-lg primary-color-dark"
											data-dismiss="modal">Close</button>
									</div>
									<!-- /modal-footer -->
								</div>
								<!--/.Content-->
							</div>
							<!-- /modal-dialog -->
						</div>
						<!-- Modal -->
					</div>
					<!-- /col-10 -->
					<div
						class="col-10 offset-1 col-sm-4 offset-sm-1 text-center my-1 py-2 bg-warning rounded z-depth-2">
						<h3 class="text-white"> References</h3>
						<a href="" data-toggle="modal" data-target="#references-modal">
							<img src="img/downloaded/recommendation-letter-visual-edge.jpg" alt="References"
								class="img-fluid doc-img">
						</a>
						<!-- Modal -->
						<div class="modal fade" id="references-modal" tabindex="-1" role="dialog"
							aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg" role="document">
								<!--Content-->
								<div class="modal-content">
									<!--Header-->
									<div class="modal-header bg-warning">
										<h4 class="modal-title w-100 text-white" id="myModalLabel">References</h4>
										<button type="button" class="close " data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true" class="grey-text">&times;</span>
										</button>
									</div>
									<!-- modal-header -->
									<!--Body-->
									<div class="modal-body p-0">
										<img src="img/downloaded/recommendation-letter-visual-edge.jpg"
											class="img-fluid" alt="references" height="100%" width="100%">
										<hr>
										<img src="img/downloaded/recommendation-letter.jpg" class="img-fluid"
											alt="references" height="100%" width="100%">
									</div>
									<!-- /modal-body -->
									<!--Footer-->
									<div class="modal-footer bg-warning">
										<button type="button" class="btn btn-lg primary-color-dark"
											data-dismiss="modal">Close</button>
									</div>
									<!-- /modal-footer -->
								</div>
								<!--/.Content-->
							</div>
							<!-- /modal-dialog -->
						</div>
						<!-- /Modal -->
					</div>
					<!-- /col 10 -->
				</div>
				<!-- /row -->
			</div>
			<!--/ Container -->
		</div>
		<!--/ container fluid -->
		<!--/Fourth Section -->


		<!-- Fifth Section -->
		<div class="container-fluid" id="fifth-section">
			<div class="container pb-3 pt-2">
				<div class="row">
					<div class="col-md-7 col-lg-6 col-12 py-2 mt-1 darker-round">

						<!-- Contact form -->
						{{>contactForm}}
						<!-- Contact form -->
					</div>
					<!--/col -->

					<div class="col-md-4 offset-md-1 offset-lg-2 mt-1">
						<div class="darker-round p-3 p-lg-4 text-center">
							<h3 class="text-white mb-2 mt-1">FIND ME ON</h3>
							<a href="https://www.linkedin.com/in/ariel-behar/" target="_blank">
								<img src="img/downloaded/icons/linkedin.svg" src="LinkedIn logo"
									class="img-fluid d-inline-block mx-2 social-icon">
							</a>
							<a href="https://github.com/ariel-behar" target="_blank">
								<img src="img/downloaded/icons/github.svg" src="Github logo"
									class="img-fluid d-inline-block mx-2 social-icon">
							</a>

							<h5 class="text-white mb-2 mt-3">OR EMAIL ME DIRECTLY</h5>
							<p class="text-white">ariel.behar@hotmail.com</p>
						</div>
						<!-- /darker-round -->
					</div>
					<!-- col md 4 -->
				</div>
				<!--/row -->
			</div>
			<!--/container -->
		</div>
		<!-- container-fluid -->
		<!--/ Fifth Section -->

	</main>


	<!--Footer-->
	<footer class="page-footer center-on-small-only py-0" id="bonus">
		<!--Footer Links-->
		<div class="container">
			<div class="row pt-2 pb-1" id="bonus-div">
				<div class="col-8 offset-2 offset-sm-0 col-sm-4 col-md-4">
					<div class="flex-center">
						<img src="img/downloaded/bonus.png" alt="Bonus" class="img-fluid mx-auto">
					</div>
					<!-- /flex-center -->
				</div>
				<!-- /col-8 -->
				<div class="col-12 col-sm-8 col-md-8 text-center px-3 px-md-0">
					<h3 class="display-4">Humble Beginnings</h3>
					<p class="text-justify">When you click on the button below, the first site I ever did will be
						revealed to you. Not much to brag about technically,
						but it does hold a sentimental value to me since these were the days I was making my first baby
						steps into the HTML/CSS
						skills world and I wanted to put them in action. My nephew had just been born, and this seemed
						like a no-brainer to
						who or what my first project would be devoted to.</p>
					<p class="text-justify">I want to use this opportunity to thank you for having looked at my
						portfolio, and I hope you liked what you saw. Feel
						free to contact me through the methods listed above about anything that may come to mind.</p>
					<p class="text-justify">Best regards,</p>
					<img src="img/downloaded/signature.png" alt="Signature" class="text-left img-fluid float-left"
						id="signature">
					<button class="btn btn-lg primary-color-dark z-depth-3" id="bonus-button">REVEAL</button>
				</div>
				<!-- /col-12 -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
		<div id="daniel-site-section" class="mx-auto">
			<div class="container">
				<div class="row">
					<div class="col-md-7 pt-3">
						<span id="x-button">&times;</span>

						<h4 class='text-center'>Sleepy Daniel</h4>
						<div class="p-5">
							<a href='http://sleepydaniel.arielbehar.com/' target='_blank'>
								<img src="img/downloaded/slides/daniel.jpg" alt="Sleepy Daniel" class="img-fluid">
							</a>
						</div>
					</div>
					<!-- col-md-7 -->
					<div class="col-md-5 py-3 pr-2 pr-lg-0">
						<h5 class='text-left'>Project Description:</h5>
						<p class='mb-1 text-justify'>Biography site of Daniel Zalmen Jackson. The site aims to
							accurately portray Daniel's early days with the help of visual
							and audio aids</p>
						<h5 class='text-left'>My Role in the Project:</h5>
						<p class='mb-1 text-justify'>This is the first website I ever built. It contains pure HTML, CSS
							and a tiny bit of XML. Making it responsive or cross-browser
							compatible were not even options in the scope of possibilities at this point, but I was very
							excited to make my first
							web animations. Overall, an exciting project for its time.</p>
						<h5 class='text-left '>Technologies Used:</h5>
						<ul class='text-left mb-1 list-inline'>
							<li class='list-inline-item'>•HTML</li>
							<li class='list-inline-item'>•CSS</li>
							<li class='list-inline-item'>•XML</li>
						</ul>
						<h5 class='text-left mb-1'>Project Launched in: &nbsp;
							<span class="text-white" style="font-size: 16px; font-weight: normal;">March 2017</span>
						</h5>
						<h5 class='text-left  d-inline-block'>Visit site:
							<a href='http://sleepydaniel.arielbehar.com/' target='_blank'
								style="text-decoration: underline;">Sleepy Daniel</a>
						</h5>
						<br>
						<span class="text-muted">(best experienced in Google Chrome)</span>
					</div>
					<!-- col-md-5 -->
				</div>
				<!--/ row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /#daniel-site-section -->
		<!--Copyright footer-->
		{{>footer}}
		<!--End of Copyright footer-->
	</footer>
	<!--/.Footer-->



	<!-- SCRIPTS -->

	<!-- JQuery -->
	<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="js/tether.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="js/mdb.min.js"></script>
	<!-- Custom Javascript -->
	<script type="text/javascript" src="js/main.js"></script>

	<script type="text/javascript">
		new WOW().init();
	</script>

	<script type="text/javascript">

		//FORM PROCESSING AJAX 
		$(document).ready(function () {
			$("#contact-form").on("submit", function () {

				var that = $(this),
					url = that.attr("action"),
					type = that.attr("method"),
					data = {};

				that.find("[name]").each(function (index, value) {
					var that = $(this),
						name = that.attr("name"),
						value = that.val();

					data[name] = value;
				});

				$.ajax({
					url: url,
					type: type,
					data: data,
					success: function (response) {
						console.log(response);
					}
				});
				$('#contact-form').each(function () {
					this.reset();
				});

				$('#success').html(
					"<p class='text-center text-white mb-0'>Thank you!</p><p class='text-center text-white'>Your form has been submitted successfully</p>"
				);
				return false;
			});

		});
		//Google Analytics
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o),
				m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-105608136-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>

</html>