@import url('https://fonts.googleapis.com/css?family=Anton|Comfortaa:700|Fredoka+One|Saira');

//VARIABLES
//fonts
$font1: 'Anton', sans-serif;
$font2: 'Fredoka One', cursive;
$font3: 'Peralta', cursive;
$font4: 'Saira', sans-serif;
$font5: 'Averia Sans Libre', cursive;
$font6: 'Averia Serif Libre', cursive;
$font7: 'Comfortaa', cursive;

//colors
$primaryColor: #5cb85c;
$elegantColor: #2e2e2e;
$blackishColor: #2d2d2d;
$headingColor: #d2d2d2;

//patterns
$pattern1: url('../img/downloaded/pattern1.jpg');
$pattern2: url('../img/downloaded/pattern2.png');
$pattern3: url('../img/downloaded/pattern3.png');

//GLOBAL SETTINGS

h1 {
    font-family: $font4;
    color: $elegantColor;
}
h2 {
    font-family: $font4;
}

h3 {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
    font-family: $font4;
    color: $headingColor;
}
h4 {
    font-family: $font4;
}

h5 {
    font-family: $font4;
}
.small-section-heading {
    font-size: 37px;
    color: $headingColor;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
}

p,
.dotted-scrollspy li {
    text-shadow: 1px 1px 7px rgba(0, 0, 0, 1);
    font-family: $font4;
}

.btn {
    font-family: $font7;
}

.carousel .carousel-control-next-icon,
.carousel .carousel-control-prev-icon {
    height: 50px;
    width: 50px;
}

//--/END GLOBAL SETINGS

#project-content,
#daniel-site-section {
    ul li,
    a,
    h5 span {
        text-shadow: 1px 1px 7px rgba(0, 0, 0, 1);
    }
}

#welcome-overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
}
.fly-in-text {
    list-style: none;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    &.hidden li {
        opacity: 0;
        &:nth-child(1) {
            transform: translate(-200px, -200px);
        }
        &:nth-child(2) {
            transform: translate(20px, 100px);
        }
        &:nth-child(3) {
            transform: translate(-150px, -80px);
        }
        &:nth-child(4) {
            transform: translate(10px, -200px);
        }
        &:nth-child(5) {
            transform: translate(-300px, 200px);
        }
        &:nth-child(6) {
            transform: translate(20px, -20px);
        }
        &:nth-child(7) {
            transform: translate(30px, 200px);
            margin-right: 0;
        }
        &:nth-child(8) {
            transform: translate(200px, 0);
        }
    }
    li {
        display: inline-block;
        color: $elegantColor;
        margin-right: 0;
        font-family: #393939;
        font-weight: 400;
        font-size: 1.5rem;
        opacity: 1;
        transition: all 2.5s ease;
        &:nth-child(7) {
            margin-right: 7px;
        }
        &:last-child {
            margin-right: 0;
            font-size: 0.8rem;
        }
    }
}

.background-video {
    position: absolute !important;
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

#ink-poster {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
@media (max-width: 450px) {
    #ink-poster {
        height: 100%;
    }
}

@media (max-width: 576px) and (min-width: 451px) {
    #ink-poster {
        height: 100%;
    }
}

.wrapper {
    overflow: hidden;
    .row {
        z-index: 5;
    }
    .view {
        height: 100vh;
        z-index: 2;
        &.hm-white-strong .mask {
            background: rgba(255, 255, 255, 0.5);
        }
        #design-heading {
            font-weight: bold;
            display: none;
            -webkit-animation-duration: 3s;
            -webkit-animation-delay: 3s;
            -moz-animation-duration: 3s;
            -moz-animation-delay: 3s;
            -ms-animation-duration: 3s;
            -ms-animation-delay: 3s;
            -o-animation-duration: 3s;
            -o-animation-delay: 3s;
            animation-duration: 3s;
            animation-delay: 3s;
        }
        #go-to-site-btn {
            display: none;
            animation-duration: 6s;
            animation-delay: 3.2s;
            -webkit-animation-duration: 6s;
            -webkit-animation-delay: 3.2s;
        }
    }
    #front-logo {
        max-height: 270px;
        display: none;
    }
}

.d-none {
    display: none;
}

.dotted-scrollspy {
    background-color: rgba(0, 0, 0, 0.8);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    #logo-nav-item {
        .nav-link {
            padding: 8px 0 11px 0;
        }
    }
    .nav-link {
        padding: 8px 5px;
        color: $primaryColor;
        &:hover {
            color: white;
        }
    }
}

body {
    background-color: $elegantColor;
    position: relative;
    // font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

main {
    // display: none;
    #nav-menu {
        transform: translateY(-80%);
        z-index: 20;
        img {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}

.main-hidden {
    display: none;
}

#title-section {
    background-color: #bcddff; /* Old browsers */
    background-color: -moz-linear-gradient(-45deg, #bcddff 1%, #4096ee 100%); /* FF3.6-15 */
    background-color: -webkit-linear-gradient(-45deg, #bcddff 1%, #4096ee 100%); /* Chrome10-25,Safari5.1-6 */
    background-color: linear-gradient(135deg, #bcddff 1%, #4096ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcddff', endColorstr='#4096ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    background-image: url('../img/downloaded/logo/logo.png');
    background-position: left center;
    background-repeat: no-repeat;
    &.container-fluid {
        height: 37vh;
    }
    .row {
        background: rgba(188, 221, 255, 0.65);
        border-radius: 20px;
    }
    #title-section-titles {
        h1 {
            font-size: 200%;
            font-weight: bold;
            font-size: 40px;
        }
        h2 {
            font-size: 160%;
        }
    }
}

@media (max-width: 1025px) and (min-width: 768px) {
    #title-section {
        &.container-fluid {
            height: 33vh;
        }
    }
}
#first-section {
    background: url('../img/downloaded/ariel.png');
    background-position: right center;
    background-repeat: no-repeat;
    .col-4 {
        font-family: $font4;
    }
}

#second-section {
    background: $pattern1;
    // .carousel-indicators {
    // 	.active {
    // 		transform: scale(1.2);
    // 		opacity: 1;
    // 	}

    // 	li {
    // 		opacity: 0.7;
    // 		&:first-child {
    // 			display: none;

    // 		}
    // 	}
    // }
    #carousel-thumb {
        margin-bottom: 30px !important;
    }
    #thumbnails-carousel-4-thumbs,
    #thumbnails-carousel-3-thumbs {
        margin-bottom: 0;

        .carousel-inner {
            ol {
                text-align: center;
                margin-top: 20px;
                li {
                    width: 23%;
                    opacity: 0.7;
                    cursor: pointer;
                    &.active {
                        transform: scale(1.1);
                        opacity: 1;
                    }
                }
            }
            #first-list-thumbnails {
                li {
                    &:first-child {
                        display: none;
                    }
                }
            }
        }
        .controls-top {
            margin-bottom: 0;
            .btn-floating {
                background-color: #575e69;
            }
        }
    }

    #project-content {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 20px;
        padding-right: 1.8rem;
        padding-left: 1.8rem;
        h4,
        h5 {
            color: white;
        }
        p {
            text-align: justify;
        }
    }
}

#psd-to-html-section {
    border-top: 1px solid white;
    video {
        transform: rotate(-15deg);
        top: 40px;
    }
    #tv-pic {
        position: absolute;
        top: 120px;
        transform: rotate(-15deg);
    }
    #on-button,
    #off-button {
        cursor: pointer;
    }

    .carousel-item img {
        height: 300px;
        width: auto !important;
    }

    .carousel-indicators {
        position: initial;
    }
    #carousel-psd {
        border: 2px solid #2e2e2e;
        border-radius: 20px;
        padding: 20px 0;

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b5b5b5+1,757575+39,2e2e2e+72,2e2e2e+100&0.35+0,0.6+100 */
        background: -moz-linear-gradient(
            -45deg,
            rgba(181, 181, 181, 0.35) 0%,
            rgba(181, 181, 181, 0.35) 1%,
            rgba(117, 117, 117, 0.45) 39%,
            rgba(46, 46, 46, 0.53) 72%,
            rgba(46, 46, 46, 0.6) 100%
        ); /* FF3.6-15 */
        background: -webkit-linear-gradient(
            -45deg,
            rgba(181, 181, 181, 0.35) 0%,
            rgba(181, 181, 181, 0.35) 1%,
            rgba(117, 117, 117, 0.45) 39%,
            rgba(46, 46, 46, 0.53) 72%,
            rgba(46, 46, 46, 0.6) 100%
        ); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(
            135deg,
            rgba(181, 181, 181, 0.35) 0%,
            rgba(181, 181, 181, 0.35) 1%,
            rgba(117, 117, 117, 0.45) 39%,
            rgba(46, 46, 46, 0.53) 72%,
            rgba(46, 46, 46, 0.6) 100%
        ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59b5b5b5', endColorstr='#992e2e2e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        .carousel-indicators li:first-child {
            display: block;
        }
        h5 {
            line-height: 28px;
        }
    }
}

@media (width: 768px) {
    #psd-to-html-section #tv-pic {
        top: 125px;
        video {
            transform: rotate(-15deg);
            top: 40px;
        }
    }
}
@media (width: 1024px) {
    #psd-to-html-section #tv-pic {
        top: 110px;
    }
}
@media (min-width: 1200px) {
    #psd-to-html-section #tv-pic {
        top: 120px;
    }
}

@media (min-width: 1366px) {
    #psd-to-html-section #tv-pic {
        top: 120px;
    }
}

.psd-to-html-modal {
    .modal-header,
    .modal-footer,
    .modal-body {
        background-image: $pattern1;
        background-repeat: repeat;
    }
    .modal-body {
        ul li,
        a,
        h5 span {
            text-shadow: 1px 1px 7px rgba(0, 0, 0, 1);
        }
        ul li,
        p,
        h5 span {
            color: $primaryColor;
        }
        img {
            border-bottom: 1px solid white;
        }
    }
}

#third-section {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    overflow: hidden;
    .background-video2 {
        position: absolute;
        width: 100% !important;
        min-height: 100%;
        width: auto;
        height: auto;
    }
    .chip {
        margin: 17px 7px;
        color: black;
        text-align: center;
        font-size: 17px;
        min-width: 160px;
        img {
            transform: scale(1.5);
            margin-right: 15px;
        }
    }

    #currently-learning-pic {
        border-radius: 20px;
        height: 155px;
        width: 155px;
    }
}

#fourth-section {
    background-image: url('../img/downloaded/teacher.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #b6d5f6;
    border-bottom: 3px solid $elegantColor;
    .container {
        .rounded {
            border-radius: 1rem;
        }
        .bg-success {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5cb85c+0,6ab56a+18,5cb85c+47,70b570+71,5cb85c+100,5cb85c+100 */
            background: #5cb85c; /* Old browsers */
            background: -moz-linear-gradient(-45deg, #5cb85c 0%, #6ab56a 18%, #5cb85c 47%, #70b570 71%, #5cb85c 100%, #5cb85c 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg, #5cb85c 0%, #6ab56a 18%, #5cb85c 47%, #70b570 71%, #5cb85c 100%, #5cb85c 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg, #5cb85c 0%, #6ab56a 18%, #5cb85c 47%, #70b570 71%, #5cb85c 100%, #5cb85c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cb85c', endColorstr='#5cb85c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        }
        .bg-warning {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0ad4e+0,edb976+20,f0ad4e+48,edb66f+87,f0ad4e+100,5cb85c+100 */
            background: #f0ad4e; /* Old browsers */
            background: -moz-linear-gradient(45deg, #f0ad4e 0%, #edb976 20%, #f0ad4e 48%, #edb66f 87%, #f0ad4e 100%, #5cb85c 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(45deg, #f0ad4e 0%, #edb976 20%, #f0ad4e 48%, #edb66f 87%, #f0ad4e 100%, #5cb85c 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(45deg, #f0ad4e 0%, #edb976 20%, #f0ad4e 48%, #edb66f 87%, #f0ad4e 100%, #5cb85c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0ad4e', endColorstr='#5cb85c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        }
    }
    .doc-img {
        transform: rotateX(20deg) rotateY(20deg) scale(0.8);
        transition: 1.5s ease;
        &[alt='Resume'] {
            box-shadow: -50px 50px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
            &:hover {
                transform: rotateX(0) rotateY(0) scale(1);
                box-shadow: 10px 10px 24px 0 rgba(0, 0, 0, 0.2), -10px -10px 24px 0 rgba(0, 0, 0, 0.2);
            }
        }
        &[alt='References'] {
            transform: rotateX(20deg) rotateY(-20deg) scale(0.8);
            box-shadow: 50px 50px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
            &:hover {
                transform: rotateX(0) rotateY(0) scale(1);
                box-shadow: 10px 10px 24px 0 rgba(0, 0, 0, 0.2), -10px -10px 24px 0 rgba(0, 0, 0, 0.2);
            }
        }
    }
    .modal {
        .modal-header {
            background-image: $pattern1;
            background-repeat: repeat;
            .modal-title {
                color: black;
            }
        }

        .modal-body {
            // Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b5b5b5+1,757575+39,2e2e2e+72,2e2e2e+100
            background: #b5b5b5; //Old browsers
            background: -moz-linear-gradient(-45deg, #b5b5b5 1%, #757575 39%, #2e2e2e 72%, #2e2e2e 100%); // FF3.6-15
            background: -webkit-linear-gradient(-45deg, #b5b5b5 1%, #757575 39%, #2e2e2e 72%, #2e2e2e 100%); //Chrome10-25,Safari5.1-6
            background: linear-gradient(135deg, #b5b5b5 1%, #757575 39%, #2e2e2e 72%, #2e2e2e 100%); // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5b5b5', endColorstr='#2e2e2e', GradientType=1); // IE6-9 fallback on horizontal gradient
        }

        .modal-footer {
            background-image: $pattern1;
            background-repeat: repeat;
        }
    }
}

@media (max-width: 1024px) {
    #fourth-section {
        .doc-img {
            transform: initial !important;
            transition: 1.5s ease;
            &[alt='Resume'] {
                box-shadow: -50px 50px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
                &:hover {
                    transform: initial !important;
                }
            }
            &[alt='References'] {
                box-shadow: 50px 50px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
                &:hover {
                    transform: initial !important;
                    box-shadow: 10px 10px 24px 0 rgba(0, 0, 0, 0.2), -10px -10px 24px 0 rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
}

#fifth-section {
    background-image: url('../img/downloaded/phone-blurred.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: right center;
    .darker-round {
        background: rgba(0, 0, 0, 0.5);
        border-radius: 20px;
    }
    &.parallax-window {
        min-height: 400px;
        background: transparent;
    }

    form {
        img[alt='logo'] {
            position: absolute;
            top: 20px;
            left: 20px;
            height: 75px;
            width: 75px;
        }
        label {
            color: white;
        }
        #text-area {
            height: 100px;
        }
        .form-control {
            color: white;
        }
        #text-area {
            color: white;
        }
    }
    .social-icon {
        width: 40%;
    }
}

footer {
    .container,
    #daniel-site-section {
        margin-top: 0.2rem;
    }
    display: none;
    #bonus-div {
        // background-image: url("../img/downloaded/sticker2.png");
        // background-size: contain;
        // background-position: left center;
        // background-repeat: no-repeat;
        p {
            text-indent: 40px;
            text-align: justify;
        }
    }
    #signature {
        left: 30px;
        position: relative;
    }
    &.page-footer {
        margin-top: 0;
        // Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b5b5b5+1,757575+39,2e2e2e+72,2e2e2e+100
        background: #b5b5b5; //Old browsers
        background: -moz-linear-gradient(-45deg, #b5b5b5 1%, #757575 39%, #2e2e2e 72%, #2e2e2e 100%); // FF3.6-15
        background: -webkit-linear-gradient(-45deg, #b5b5b5 1%, #757575 39%, #2e2e2e 72%, #2e2e2e 100%); //Chrome10-25,Safari5.1-6
        background: linear-gradient(135deg, #b5b5b5 1%, #757575 39%, #2e2e2e 72%, #2e2e2e 100%); // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5b5b5', endColorstr='#2e2e2e',GradientType=1 ); // IE6-9 fallback on horizontal gradient
        .footer-copyright {
            background-color: $elegantColor;
        }
    }
    #daniel-site-section {
        display: none;
        background: rgb(138, 176, 218);
        h3,
        h4,
        h5 {
            color: $blackishColor;
            font-weight: bold;
            text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
        }
        h4 {
            font-size: 35px;
        }
        a {
            font-weight: normal;
        }
        #x-button {
            color: white;
            position: absolute;
            top: 15px;
            left: 20px;
            font-size: 25px;
            cursor: pointer;
        }
    }
}

//MEDIA QUERIES
//max-width
@media (max-width: 576px) {
    .fly-in-text {
        li {
            font-size: 1.8rem;
        }
    }

    #front-logo {
        transform: scale(0.7) translateY(-15%);
    }
    #design-heading {
        margin-top: 0;
    }

    #title-section {
        #title-section-titles {
            height: 33vh;
            h1 {
                font-weight: bold;
                font-size: 30px;
            }
        }
    }
    .carousel {
        img {
            max-height: 240px;
            width: auto;
        }
    }
    #fifth-section {
        form {
            img[alt='logo'] {
                position: absolute;
                top: 15px;
                left: 15px;
                height: 45px;
                width: 45px;
            }
        }
    }
}

@media (max-width: 768px) {
    .fly-in-text {
        top: 15%;
    }
    .carousel {
        img {
            max-height: 270px;
            width: auto;
        }
    }
}

@media (max-width: 992px) {
    #first-section {
        .container {
            background: rgba(0, 0, 0, 0.6);
            border-radius: 20px;
        }
    }
}

@media (max-width: 1200px) {
}

//min-width
@media (min-width: 576px) {
    .fly-in-text {
        li {
            font-size: 1.5rem;
            margin-right: 10px;
            &:nth-child(7) {
                margin-right: 0;
            }
        }
    }

    #design-heading {
        margin-top: 5rem;
        margin-bottom: 2rem;
    }

    #project-content {
        height: 30vh;
    }
}

@media (min-width: 768px) {
    .fly-in-text li {
        font-size: 2.2rem;
        margin-right: 15px;
        &:nth-child(7) {
            margin-right: 0;
        }
    }
    .navbar {
        min-height: 100px !important; //overriding some style for the navbar to make it larger on large screens
    }
    #project-content {
        height: 40vh;
    }
}

@media (min-width: 992px) {
    .fly-in-text li {
        font-size: 3rem;
        margin-right: 25px;
        &:nth-child(7) {
            margin-right: 0;
        }
    }
    #project-content {
        height: 60vh;
    }

    #design-heading {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}
@media (min-width: 1200px) {
    .fly-in-text li {
        font-size: 4rem;
        margin-right: 25px;
        &:nth-child(7) {
            margin-right: 0;
        }
    }
    #project-content {
        height: 60vh;
    }
}
//END MEDIA QUERIES
