<!--Copyright-->
<div class="footer-copyright">
    <div class="container-fluid">
        <span class="text-muted">© <span id="footer-date">2017</span> All Rights Reserved
            <a href="http://www.arielbehar.com">Ariel Behar</a>
        </span>
    </div>
    <!-- /container-fluid -->
</div>
<!--/.Copyright-->