<div class="dotted-scrollspy hidden-sm-down d-none" id="nav-menu">
    <ul class="nav smooth-scroll flex-column ">
        <li class="nav-item text-center" id="logo-nav-item">
            <img src="img/downloaded/logo/logo.png" alt="Logo" height="35px" width="35px">
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#title-section">INTRO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#first-section">ABOUT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#second-section">PROJECTS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#third-section">SKILLS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#fourth-section">RESUME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#fifth-section">CONTACT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#bonus">BONUS</a>
        </li>
    </ul>
</div>